
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
.banner {
    background-image: url('../Content/Images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
